<%- await include(`views/partials/header.ejs`)  %> 

<div class="container">
  <h1>404 - Page does not exist</h1>

  <div>
    Go to <a href="/">home page</a> 
  </div>
</div>

<%- await include(`views/partials/footer.ejs`)  %> 